# Dependencies
node_modules/

# Production builds
dist/
build/
.next/  # if using Next.js
.out/   # if using Vercel

# Environment variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache/
.parcel-cache/

# Runtime data
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/

# IDE files
.vscode/
.idea/